I want you to act as a copywriter. Based on the given context, please generate a string object. It can either be a question or a statement that can be addressed by the given context.

Contexts: {{contexts}}